# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Downloads folder (Không đẩy các video/nhạc đã tải lên GitHub)
downloads/*
!downloads/.gitkeep

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store
